body {
    background-color:beige;
    color:rgb(101, 100, 100);
    font-size: 12pt;
    font-family: Arial;
    margin: 70pt;
    margin-top: 50pt;
    margin-bottom: 50pt;
  }

h1{
    font-size: 30pt;
    font-family: 'Lucida Sans';
    color:brown;
    text-align: center; 
  }
  a{text-align: center;}
  a:link, a:visited { color: blue;
    text-align:center;
  }
a:hover {
    color: red;
    background-color: white;
    font-size: large;
  }
a:active{ 
    color:green;
    }
h2{
    font-size: 25pt;
    font-family:'Lucida Sans';
    color:rgb(179, 98, 98);
    text-decoration-line: underline;
}
p{
    font-size: 15pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    color:rgb(125, 78, 16);
    nav a:link { color: #FFFFFF; };
}
h3{
    font-size: 20pt;
    font-family:'Lucida Sans';
    color:rgb(178, 116, 116);
    text-decoration-line: underline;
}
footer{
    text-align: center;
    font-size: 10pt;
    color: black;
}
table{
    border: 0.5px solid black;

}
.div-links{
    border: 1px solid black;
    color: blue;

}
.div-text{
    border: 1px solid black;
    color: rgb(207, 46, 207);

}
button{ 
   margin-left: 45%;
 }

 img {
    margin-left: 40%;
    width: 200px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
  }

.picture{
    width:200px;
    height:auto;
}
.zoom {
    margin-left: 25%;
    width:50%;
    height: 50%;
}

 .dropbtn {
    font-size: 20px;
    margin-right: 45%;
    line-height: 50px; /* Adjust line height to vertically center the button */
    text-align: center;

}
   
    .dropdown {

    position: relative;
    float:none;
    }
   
    .dropdown-content {
        padding: 10px 20px;
        font-size: 16px;
        display: none;
        position:relative;
        background-color:#f9f9f9;
        min-width: 200px;
        
    }
    .dropdown-content a {
    display: block;  }
     .dropdown-content a:hover {background-color: #f1f1f1}
    .show {display:block;}

    .dropbtn1 {
        font-size: 20px;
        margin-right: 45%;
        line-height: 50px; /* Adjust line height to vertically center the button */
        text-align: center;
    
    }
       
        .dropdown1 {
    
        position: relative;
        float:none;
        }
       
        .dropdown-content1 {
            padding: 10px 20px;
            font-size: 16px;
            display: none;
            position:relative;
            background-color:#f9f9f9;
            min-width: 200px;
            
        }
        .dropdown-content1 a {
        display: block;  }
         .dropdown-content1 a:hover {background-color: #f1f1f1}
        .show {display:block;}